   


    div {
        display: inline-block;
        background-color: rgb(95, 139, 179);
        text-align: center;
        height: 200px;
        width: 200px;
        border: 1px solid black;
        border-radius: 10px;

    }

   div:hover{
    background-color: aqua;
   }